<!-- # Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.venv/

# Logs
*.log
app.log

# Git
.git
.gitignore

# IDE/editor configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Local docs not needed in container
README.md -->
.git
data/